.social-links {    
    img {
        height: 2rem;
    }

    img:hover {
        filter: invert(100%);
        text-decoration: none;
    }

    a {
        color: $bg-color;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 1rem;
    }
}