.home {
    padding: 1rem 0.5rem;

    @media screen and (min-width: 767px) {
        padding: 5rem;
    }
}

.intro:hover {
    color: #b92130;
}

@media screen and (max-width: 767px) {
    h1.display-4.intro-header {
        font-size: 2.2rem;
    }
}